<!-- site header bar -->
<header>
    <section>
        <div class="header flex row">
            <div class="header__item flex row">
              <div id="logo">
                {{ if .Site.Params.logo }}
                <a href="{{ .Site.BaseURL }}">
                  <img class="u-logo" src="{{ .Site.Params.logo | absURL }}" />
                </a>
                {{ end }}
              </div>
                <a id="site__name" href="{{ .Site.BaseURL }}">
                    {{ .Site.Title }}
                </a>
            </div>           
        </div>
    </section>
</header>